.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.posts {
  list-style: none;
  display: inline-block;
}

div.post {
  display: inline-block;
  width: 30%;
  margin: 1%;
  border: 1px solid grey;
}

.scrollview{
  overflow-y: scroll;
  height: 45vh;
}

.title {
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 1px solid grey;
  background: lightgray;
  padding: 8px;

} 

.body { 
  padding: 0.5em;
  overflow-y: hidden;
} 

.body textarea{
  height: 19rem; 
  resize: none;
  width: 100%;

}

.footer { 
  background: lightgray;
  width: 100%;
  position: relative;
}

.edit {
  width: 40%;
  display: inline-block;
  text-align: center;
  border:none;
  margin: 0.5em;
}

.delete{
  width: 40%;
  display: inline-block;
  text-align: center;
  border:none;
  margin: 0.5em;
}

label{
  text-align: left;
}
.field{
  width: 75%;
  text-align: left;
}

.add-note-form{
  text-align: left;
  
}

.add-note-form label span{
  margin-bottom: 15px;
  border: 1px solid red;
}

.main-container{
  margin: 50px;
}

.main-container h1{
  text-align: left;
}

.main-container h1 span{
  color:grey;
  font-size: smaller;
  font-weight: 400;
}

.submit{
  background: #007bff;
  color: white;
  padding: 1em;
  border-radius: 8px;
  margin-top:1em;
  margin-bottom:1em;
  border-color: #489df8;
}

.footnote{
  font-size: small;
  color: grey;
  margin-top:1em;
  margin-bottom:1em;
}

.field-label{
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: grey;
}

.field{
  font-size: larger;
  min-height: 1.5em;
  border-radius: 5px;
  border-color: grey;
}

.signout{
  background: none;
  color: white;
  border: none;
  text-decoration-line: underline;
}

.loginBox{
  display: block;
}

.loginBoxHide{
  display: none;
}